<div class="footer-content">
  <div class="footer-row">
    &copy; {{ now.Year }} szxzip.net | All rights reserved.
  </div>
  <div class="footer-row">
    <p>&nbsp;</p>
    <a href="https://beian.miit.gov.cn/" target="_blank" class="beian">豫 ICP 备 2026005285 号 - 1</a>
    <span class="spacer"></span>
    <img src="/beian.png" class="beian-img">
    <span class="spacer"></span>
    <a href="https://beian.mps.gov.cn/#/query/webSearch?code=41132502000132" rel="noreferrer" target="_blank" class="beian">豫公网安备 41132502000132 号</a>
  </div>
</div>
