@theme {
  --color-primary: oklch(0.3687 0.0523 258.29);
  --color-secondary: oklch(1 0 0);
  --color-accent: oklch(0.5444 0.1953 13.22);
  --color-neutral: oklch(0 0 0);

  --font-hiragino-mincho-pron: hiragino-mincho-pron, sans-serif;
  --font-source-sans-pro: source-sans-pro, sans-serif;
}
