.heti {
  @apply font-sans;
}

.heti a {
  @apply link;
}

.heti a:hover {
  border-block-end: none !important;
  padding-block-end: none !important;
  text-decoration-line: underline;
}

.heti code {
  @apply text-accent bg-accent/15;
  @apply px-[0.2em] wrap-break-word rounded-sm;
}

.heti blockquote {
  background-color: unset;

  @apply border-l-4 border-primary/30 pl-4;
  @apply text-primary/80;
}

.heti a:has(code) {
  @apply decoration-accent p-0 rounded-4px text-sm;
  @apply hover:bg-accent hover:decoration-accent;
}

.heti a > code {
  @apply m-0
  @apply hover:text-secondary;
}
