@utility text-* {
  font-size: calc(--value(number) * var(--spacing));
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility link {
  @apply p-[0.1em];
  @apply underline underline-offset-2 decoration-[0.1em];
  @apply ease-in-out duration-400 transition-colors;
  @apply hover:bg-primary hover:text-secondary hover:decoration-primary;
}

@utility write-vertical-rl {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

@utility write-vertical-lr {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
