---
import { fetchPostEntries } from '@/utils/post'
import Layout from '@/layouts/Layout.astro'
import PostSummary from '@/components/PostSummary.astro'

const postEntries = await fetchPostEntries()
---

<Layout>
  <ul class="flex flex-col gap-7.5">
    {
      postEntries.map((postEntry) => (
        <li>
          <PostSummary postEntry={postEntry} />
        </li>
      ))
    }
  </ul>
</Layout>
