---
import type { PostEntry } from '@/post/type'

interface Props {
  postEntry: PostEntry
}
const { postEntry } = Astro.props
---

<article>
  <h2><a href={'/'}>{postEntry.data.title}</a></h2>
</article>
