---
import { themeConfig } from '@/theme.config'
const { title, subtitle } = themeConfig.site
---

<hgroup class="flex flex-col items-center">
  <a href="/">
    <h2 class="text-5 font-serif text-center">{subtitle}</h2>
    <h1 class="text-8 font-serif text-center">{title}</h1>
  </a>
</hgroup>
