---
import { themeConfig } from '@/theme.config'
const { title, subtitle } = themeConfig.site
const { class: className } = Astro.props
---

<hgroup class:list={[className]} class="flex flex-col items-center lg:items-start lg:border-l-2 lg:border-primary">
  <a href="/" class="link no-underline transition lg:write-vertical-right lg:pt-0 lg:pb-12 lg:px-2.5 group">
    <h2
      class="text-5 font-serif text-center lg:transition-transform lg:duration-800 lg:ease-in-out lg:group-hover:translate-y-3.75"
    >
      {subtitle}
    </h2>
    <h1
      class="text-8 font-serif text-center lg:transition-transform lg:duration-800 lg:ease-in-out lg:group-hover:translate-y-3.75"
    >
      {title}
    </h1>
  </a>
</hgroup>
