---
import { themeConfig } from '@/theme.config'

const { website, author } = themeConfig.site

const year = new Date().getFullYear()
---

<div>
  <p class="font-bold text-3">
    <span>© {year} </span>
    <a target="_blank" class="link" href={website}>{author}</a>
  </p>

  <p class="font-bold text-3">
    <span>Theme</span>
    <a target="_blank" class="link" href="https://github.com/Moeyua/astro-theme-typography"> Typography </a>
    <span>by</span>
    <a target="_blank" class="link" href="https://moeyua.com">Moeyua</a>
  </p>
  <p class="font-bold text-3">
    <span>Proudly published with</span>
    <a class="link" target="_blank" href="https://astro.build/">Astro</a>
  </p>
</div>

<style></style>
