---
import { themeConfig } from '@/theme.config'

const socialLinks = themeConfig.site.socialLinks
---

<ul class="flex-center gap-1">
  {
    socialLinks.map(({ title, url, icon }) => (
      <li>
        <a href={url} aria-label={title} title={title}>
          <span class="iconify text-2xl inline-block" class:list={[icon]} />
        </a>
      </li>
    ))
  }
</ul>
