---
import { themeConfig } from '@/theme.config'
const { title, subtitle } = themeConfig.site
---

<hgroup>
  <a href="/">
    <h2 class="text-xl font-extrabold">{subtitle}</h2>
    <h1 class="text-4xl font-extrabold">{title}</h1>
  </a>
</hgroup>
