---
import { themeConfig } from '@/theme.config'
const { title, subtitle } = themeConfig.site
---

<hgroup class="">
  <a href="/">
    <h2 class="text-xl font-serif">{subtitle}</h2>
    <h1 class="text-4xl font-serif">{title}</h1>
  </a>
</hgroup>
