---
import { themeConfig } from '@/theme.config'
const { title, subtitle } = themeConfig.site
---

<hgroup class="">
  <a href="/">
    <h2 class="text-xl font-hiragino font-semibold">{subtitle}</h2>
    <h1 class="text-4xl font-hiragino font-semibold">{title}</h1>
  </a>
</hgroup>
