/* Modified version of:
 * hugo gen chromastyles --style=algol_nu */

/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:var(--bg2) }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { font-weight:bold }
/* KeywordConstant */ .chroma .kc { font-weight:bold }
/* KeywordDeclaration */ .chroma .kd { font-weight:bold;font-style:italic }
/* KeywordNamespace */ .chroma .kn { font-weight:bold }
/* KeywordPseudo */ .chroma .kp { font-weight:bold }
/* KeywordReserved */ .chroma .kr { font-weight:bold }
/* KeywordType */ .chroma .kt { font-weight:bold }
/* NameClass */ .chroma .nc { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameConstant */ .chroma .no { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameNamespace */ .chroma .nn { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameBuiltin */ .chroma .nb { font-weight:bold;font-style:italic }
/* NameBuiltinPseudo */ .chroma .bp { font-weight:bold;font-style:italic }
/* NameVariable */ .chroma .nv { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameVariableClass */ .chroma .vc { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameVariableGlobal */ .chroma .vg { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameVariableInstance */ .chroma .vi { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameVariableMagic */ .chroma .vm { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameFunction */ .chroma .nf { color:var(--fg2);font-weight:bold;font-style:italic }
/* NameFunctionMagic */ .chroma .fm { color:var(--fg2);font-weight:bold;font-style:italic }
/* LiteralString */ .chroma .s { color:var(--fg2);font-style:italic }
/* LiteralStringAffix */ .chroma .sa { color:var(--fg2);font-style:italic }
/* LiteralStringBacktick */ .chroma .sb { color:var(--fg2);font-style:italic }
/* LiteralStringChar */ .chroma .sc { color:var(--fg2);font-style:italic }
/* LiteralStringDelimiter */ .chroma .dl { color:var(--fg2);font-style:italic }
/* LiteralStringDoc */ .chroma .sd { color:var(--fg2);font-style:italic }
/* LiteralStringDouble */ .chroma .s2 { color:var(--fg2);font-style:italic }
/* LiteralStringEscape */ .chroma .se { color:var(--fg2);font-style:italic }
/* LiteralStringHeredoc */ .chroma .sh { color:var(--fg2);font-style:italic }
/* LiteralStringInterpol */ .chroma .si { color:var(--fg2);font-style:italic }
/* LiteralStringOther */ .chroma .sx { color:var(--fg2);font-style:italic }
/* LiteralStringRegex */ .chroma .sr { color:var(--fg2);font-style:italic }
/* LiteralStringSingle */ .chroma .s1 { color:var(--fg2);font-style:italic }
/* LiteralStringSymbol */ .chroma .ss { color:var(--fg2);font-style:italic }
/* OperatorWord */ .chroma .ow { font-weight:bold }
/* Comment */ .chroma .c { color:var(--fg2);font-style:italic }
/* CommentHashbang */ .chroma .ch { color:var(--fg2);font-style:italic }
/* CommentMultiline */ .chroma .cm { color:var(--fg2);font-style:italic }
/* CommentSingle */ .chroma .c1 { color:var(--fg2);font-style:italic }
/* CommentSpecial */ .chroma .cs { color:var(--fg2);font-weight:bold }
/* CommentPreproc */ .chroma .cp { color:var(--fg2);font-weight:bold }
/* CommentPreprocFile */ .chroma .cpf { color:var(--fg2);font-weight:bold }
