---
import { ClientRouter } from 'astro:transitions'
import SiteCredits from '@/components/SiteCredits.astro'
import SiteNavigation from '@/components/SiteNavigation.astro'
import SiteSocial from '@/components/SiteSocial.astro'
import SiteTitle from '@/components/SiteTitle.astro'
import { themeConfig } from '@/theme.config'
import '@/styles/main.css'
---

<html lang={themeConfig.site.locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ClientRouter />
  </head>
  <body>
    <div class="container mx-auto lg:flex lg:flex-row-reverse relative">
      <header class="p-7.5 flex flex-col gap-2.5 lg:h-svh lg:justify-end lg:gap-12 lg:sticky lg:top-0 lg:py-20">
        <SiteTitle class:list={['lg:mt-0 mb-auto']} />
        <nav class="flex flex-col gap-3.5">
          <SiteNavigation />
          <SiteSocial />
        </nav>
        <SiteCredits class:list={['lg:block  hidden']} />
      </header>

      <main transition:animate="fade" class="px-7.5 lg:grow lg:py-20">
        <slot />
      </main>

      <footer class="lg:hidden p-7.5">
        <SiteCredits />
      </footer>
    </div>
  </body>
</html>
