---
import { ClientRouter } from 'astro:transitions'
import SiteCredits from '@/components/SiteCredits.astro'
import SiteNavigation from '@/components/SiteNavigation.astro'
import SiteSocial from '@/components/SiteSocial.astro'
import SiteTitle from '@/components/SiteTitle.astro'
import { themeConfig } from '@/theme.config'
import '@/styles/main.css'

export interface TransitionAnimation {
  name: string // 关键帧的名称
  delay?: number | string
  duration?: number | string
  easing?: string
  fillMode?: string
  direction?: string
}

export interface TransitionAnimationPair {
  old: TransitionAnimation | TransitionAnimation[]
  new: TransitionAnimation | TransitionAnimation[]
}

export interface TransitionDirectionalAnimations {
  forwards: TransitionAnimationPair
  backwards: TransitionAnimationPair
}

const fadeDown: TransitionDirectionalAnimations = {
  forwards: {
    old: { name: 'fade-out-down', duration: '0.5s', easing: 'ease-in-out' },
    new: { name: 'fade-in-up', duration: '1s', easing: 'ease-in-out', delay: '0.5s' },
  },
  backwards: {
    old: { name: 'fade-out-down', duration: '0.5s', easing: 'ease-in-out' },
    new: { name: 'fade-in-up', duration: '1s', easing: 'ease-in-out', delay: '0.5s' },
  },
}
---

<html lang={themeConfig.site.locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ClientRouter />
  </head>
  <body>
    <div class="container mx-auto p-7.5 lg:flex lg:flex-row-reverse">
      <header class="m-7.5 flex flex-col gap-2.5 relative">
        <SiteTitle />
        <nav class="flex flex-col gap-3.5">
          <SiteNavigation />
          <SiteSocial />
        </nav>
        <SiteCredits class:list={['lg:block']} />
      </header>

      <main transition:animate="fade" class="lg:grow">
        <slot />
      </main>

      <footer class="my-7.5 lg:hidden">
        <SiteCredits />
      </footer>
    </div>
  </body>
</html>

<style is:global>
  @keyframes fade-in-down {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-up {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-out-down {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }

  @keyframes fade-out-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-1rem);
      opacity: 0;
    }
  }
</style>
