---
import SiteNavigation from '@/components/SiteNavigation.astro'
import SiteTitle from '@/components/SiteTitle.astro'
import '@/styles/main.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container p-7.5">
      <header class="m-7.5 flex flex-col gap-2.5">
        <SiteTitle />
        <nav>
          <!-- navgation -->
          <SiteNavigation />
          <!-- social links -->
          <ul><li></li></ul>
        </nav>
      </header>
      <!-- content -->
      <main>
        <slot />
      </main>
      <!--  -->
      <footer></footer>
    </div>
  </body>
</html>
