---
import { ClientRouter } from 'astro:transitions'
import SiteCredits from '@/components/SiteCredits.astro'
import SiteNavigation from '@/components/SiteNavigation.astro'
import SiteSocial from '@/components/SiteSocial.astro'
import SiteTitle from '@/components/SiteTitle.astro'
import { themeConfig } from '@/theme.config'
import '@/styles/main.css'

const viewAnimation = {
  old: {
    name: 'fade-in-down',
    duration: '0.5s',
    easing: 'linear',
    direction: 'reverse',
  },
  new: {
    name: 'fade-in-down',
    duration: '0.5s',
    delay: '0.5s',
    easing: 'linear',
  },
}

const viewTransition = {
  forwards: viewAnimation,
  backwards: viewAnimation,
}
---

<html lang={themeConfig.site.locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ClientRouter />
  </head>
  <body>
    <div class:list={['container mx-auto', 'lg:flex lg:flex-row-reverse lg:justify-center']}>
      <header
        id="site-header"
        class:list={[
          'p-7.5 flex flex-col gap-2.5',
          'lg:h-svh lg:justify-end lg:gap-12 lg:sticky lg:top-0 lg:py-20 lg:w-1/4',
        ]}
      >
        <div class:list={['mb-auto', 'lg:mt-0']}>
          <SiteTitle />
        </div>

        <nav class:list={['flex flex-col gap-3.5']}>
          <SiteNavigation />
          <SiteSocial />
        </nav>

        <div class:list={['hidden', 'lg:block']}>
          <SiteCredits />
        </div>
      </header>

      <main
        id="site-main"
        transition:animate={viewTransition}
        class:list={['px-7.5', 'lg:grow lg:py-20 lg:flex lg:justify-center']}
      >
        <slot />
      </main>

      <footer id="site-footer" class:list={['p-7.5', 'lg:hidden ']}>
        <SiteCredits />
      </footer>
    </div>
  </body>
</html>

<script>
  document.addEventListener(
    'astro:page-load',
    () => {
      const siteHeader = document.getElementById('site-header')
      const siteMain = document.getElementById('site-main')
      const siteFooter = document.getElementById('site-footer')
      siteHeader?.classList.add('lg:animate-fade-in-left')
      siteHeader?.classList.add('animate-fade-in-down')
      siteMain?.classList.add('animate-fade-in-down')
      siteFooter?.classList.add('animate-fade-in-down')
    },
    { once: true },
  )
</script>
