---
import SiteCredits from '@/components/SiteCredits.astro'
import SiteNavigation from '@/components/SiteNavigation.astro'
import SiteSocial from '@/components/SiteSocial.astro'
import SiteTitle from '@/components/SiteTitle.astro'
import '@/styles/main.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="g  enerator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="container p-7.5">
      <header class="m-7.5 flex flex-col gap-2.5">
        <SiteTitle />
        <nav class="flex flex-col gap-3.5">
          <SiteNavigation />
          <SiteSocial />
        </nav>
      </header>
      <!-- content -->
      <main>
        <slot />
      </main>
      <!--  -->
      <footer>
        <SiteCredits />
      </footer>
    </div>
  </body>
</html>
